<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Витрина магазина</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body class="bg-light">
    <div class="container p-2">
        <div class="row p-2">
            <div class="col">
                <div class="hstack gap-3">
                    <h2>
                        <span class="badge text-bg-success">Витрина магазина</span>
                    </h2>
                    <a href="/orders" th:if="${userInfo.isUser()}" class="btn btn-secondary ms-auto bi bi-file-earmark-text"> Заказы</a>
                    <a href="/items" class="btn btn-secondary bi bi-arrow-left-square"> Главная</a>
                    <span class="badge text-bg-success justify-content-end" th:text="${userInfo.username()}"></span>
                    <a href="/login" th:if="${!userInfo.isUser()}" class="btn btn-primary">Авторизоваться</a>
                    <a href="/logout" th:if="${userInfo.isUser()}" class="btn btn-danger">Выйти</a>
                </div>
            </div>
        </div>
        <div class="row p-2" th:if="${userInfo.isUser()}" th:each="item : ${items}">
            <div class="col">
                <div class="card">
                    <img class="p-2" th:src="@{|/items/${item.id()}/image|}" alt="Нет изображения" width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.title()}"></h5>
                        <h5>
                            <span class="badge text-bg-success justify-content-end" th:text="${item.price()}+' руб.'"></span>
                        </h5>
                        <p class="card-text" th:text="${item.description()}"></p>
                        <form th:action="@{/cart/items}" method="post">
                            <div class="hstack gap-3">
                                <input type="hidden" name="id" th:value="${item.id()}">
                                <button type="submit" class="btn btn-outline-secondary" name="action" value="MINUS">-</button>
                                <span th:text="${item.count()}"></span>
                                <button type="submit" class="btn btn-outline-secondary" name="action" value="PLUS">+</button>
                                <button type="submit" class="btn btn-danger ms-auto bi bi-trash" name="action" value="DELETE"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${!userInfo.isUser()}">
            Для незарегистрированных пользователей функционал ограничен! Корзина не может быть наполнена!
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${userInfo.isUser() && balance==null}">
            Сервис платежей недоступен! Заказ не может быть создан!
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${userInfo.isUser() && balance!=null && cart != null && (balance.getBalance() < cart.total())}">
            Недостаточно средств на балансе! Заказ не может быть создан!
        </div>
        <div class="row p-2">
            <div class="col">
                <form th:action="@{/buy}" method="post" th:if="${userInfo.isUser() && items!=null && !items.isEmpty() && cart != null}">
                    <div class="hstack gap-3">
                        <h2 th:text="'Итого: '+${cart.total()}+' руб.'"/>
                        <button class="btn btn-warning ms-auto" th:disabled="${balance==null || cart == null || (balance.getBalance() < cart.total())}">Купить</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <form th:action="@{/topUpBalance}" method="post" th:if="${userInfo.isUser() && items!=null && !items.isEmpty()}">
                    <div class="hstack gap-3">
                        <input type="hidden" name="id" th:value="${cart.userId()}">
                        <h2 th:style="'width: 50%;'" th:text="'Баланс: '+${balance.getBalance()}+' руб.'"  th:if="${balance!=null}"/>
                        <input class="form-control me-2 mw-5" type="number" placeholder="На сумму..."
                               aria-label="На сумму" name="receipt" th:value="${receipt}" th:if="${balance!=null}"/>
                        <button class="btn btn-warning ms-auto" th:if="${balance!=null}">Пополнить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>

</html>
