<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Витрина магазина</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body class="bg-light">
<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${newItem}">
    Поздравляем! Товар успешно создан! &#128578;
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container p-2">
    <div class="row p-2">
        <div class="col">
            <div class="hstack gap-3">
                <h2>
                    <span class="badge text-bg-success">Витрина магазина</span>
                </h2>
                <a href="/orders" th:if="${userInfo.isUser()}" class="btn btn-secondary ms-auto bi bi-file-earmark-text"> Заказы</a>
                <a href="/cart/items" th:if="${userInfo.isUser()}" class="btn btn-secondary bi bi-cart4"> Корзина</a>
                <a href="/items" class="btn btn-secondary bi bi-arrow-left-square"> Главная</a>
                <span class="badge text-bg-success justify-content-end" th:text="${userInfo.username()}"></span>
                <a href="/login" th:if="${!userInfo.isUser()}" class="btn btn-primary">Авторизоваться</a>
                <a href="/logout" th:if="${userInfo.isUser()}" class="btn btn-danger">Выйти</a>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="card">
                <img class="p-2" th:src="@{|/items/${item.id()}/image|}" alt="Нет изображения" width="200" height="200">
                <div class="card-body">
                    <form name="image" th:if="${userInfo.isUser()}" th:action="@{|/items/${item.id()}/image|}" method="post" enctype="multipart/form-data">
                        <div class="hstack gap-3">
                            <input class="form-control me-2 mw-100" type="file" accept=".jpg, .jpeg, .png" placeholder="Изображение..."
                                   aria-label="Изображение" name="imageFile" th:value="${imageFile}"/>
                            <button type="submit" class="btn btn-warning ms-auto" name="save">Сохранить</button>
                        </div>
                    </form>
                    <h5 class="card-title" th:text="${item.title()}"></h5>
                    <h5>
                        <span class="badge text-bg-success justify-content-end"
                              th:text="${item.price()}+' руб.'"></span>
                    </h5>
                    <p class="card-text" th:text="${item.description()}"></p>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${!userInfo.isUser()}">
                        Для незарегистрированных пользователей функционал ограничен! Корзина не может быть наполнена!
                    </div>
                    <form name="action" th:if="${userInfo.isUser()}" th:action="@{${'/items/'+item.id()}}" method="post">
                        <div class="hstack gap-3">
                            <button type="submit" class="btn btn-outline-secondary" name="action" value="MINUS">-
                            </button>
                            <span th:text="${item.count()}"></span>
                            <button type="submit" class="btn btn-outline-secondary" name="action" value="PLUS">+
                            </button>
                            <button type="submit" class="btn btn-warning ms-auto bi bi-cart4" name="action" value="PLUS"
                                    th:if="${item.count()==0}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
</body>

</html>
