<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Витрина магазина</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body class="bg-light">
<div class="row p-2">
    <div class="col">
        <div class="hstack gap-3">
            <h2>
                <span class="badge text-bg-success">Витрина магазина</span>
            </h2>
        </div>
    </div>
</div>

<div class="row p-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ошибка работы приложения:</h4>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>